* {
  margin: 0;
  padding: 0;
  font-family: "Source Sans Pro", sans-serif;
}
body {
  height: 90vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.main #logo{
  position: absolute;
  top: 10px;
  left: 30px;
  font-size: 25px;
  color: #ccc;
}
.main #logo i{
  margin-right: 15px;
}
.main {
  position: relative;
  height: 80%;
  width: 75%;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #d65895;
  border-radius: 35px;
  box-shadow: 1px 0px 20px 12px rgba(2, 0, 0, 0.2);
}
.main button {
  padding: 10px 12px;
  margin: 0 10px;
}

/* left & right part */
.right,
.left {
  position: relative;
  height: 90%;
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

/* song image */
.left img {
  height: 250px;
  width: 50%;
  border-radius: 15px;
  box-shadow: 1px 0px 20px 12px rgba(2, 0, 0, 0.2);
}

/* both range slider part */
input[type="range"] {
  -webkit-appearance: none;
  width: 50%;
  outline: none;
  height: 2px;
  margin: 0 15px;
}
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 20px;
  width: 20px;
  background: #000000;
  border-radius: 50%;
  cursor: pointer;
}
.right input[type="range"] {
  width: 40%;
}

/* volume part */
.left .volume {
  position: absolute;
  bottom: 10%;
  left: 0;
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(7, 0, 0);
}
.left .volume p {
  font-size: 15px;
}
.left .volume i {
  cursor: pointer;
  padding: 8px 12px;
  background: #e4e2e1;
}
.left .volume i:hover {
  background: rgba(204, 202, 202, 0.1);
}
.volume #volume_show {
  padding: 8px 12px;
  margin: 0 5px 0 0;
  background: rgba(231, 226, 226, 0.1);
}

/* right part */
.right .middle {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.right .middle button {
  border: none;
  height: 70px;
  width: 70px;
  border-radius: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  outline: none;
  transition: 0.5s;
  background: rgba(190, 187, 187, 0.1);
}
.right #title {
  position: absolute;
  top: 100px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 35px;
}
.right #artist {
  position: absolute;
  top: 110px;
  left: 50%;
  transform: translateX(-50%);
  text-transform: capitalize;
  color: #fff;
  font-size: 18px;
}
.right .duration {
  position: absolute;
  bottom: 22%;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 20px;
  margin-top: 40px;
}
.right .duration p {
  color: rgb(219, 215, 215);
  font-size: 15px;
  margin-left: 20px;
}
.right #auto {
  font-size: 18px;
  cursor: pointer;
  margin-top: 45px;
  border: none;
  padding: 10px 14px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  outline: none;
  border-radius: 10px;
}
.right #auto i {
  margin-left: 8px;
}
#play {
  background: #070000;
}
.right button:hover {
  background: #b3b0b3;
}
.right i:before {
  color: #fff;
  font-size: 20px;
}

.right .show_song_no p:nth-child(2) {
  margin: 0 5px;
}
